MNEMONIC="here is where your twelve words mnemonic should be put my friend"
PRIVATE_KEY="<your private key here if you don't have a mnemonic seed>"
CUSTOM_RPC_URL_MATIC="https://<your-matic-provider>/<your key>"
CUSTOM_RPC_URL_ETHEREUM="https://<your-ethereum-provider>/<your key>"
  
